<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62022410637-st7oqr3p4j2vq8ht1vbuogf1adi36rc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62022410637-st7oqr3p4j2vq8ht1vbuogf1adi36rc0</string>
	<key>API_KEY</key>
	<string>AIzaSyCRUsi6oUXpsBVgtIGCYsEnhR8hOYlsZtE</string>
	<key>GCM_SENDER_ID</key>
	<string>62022410637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.electricityplus.electricityPlus</string>
	<key>PROJECT_ID</key>
	<string>electricityplus-a6572</string>
	<key>STORAGE_BUCKET</key>
	<string>electricityplus-a6572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62022410637:ios:0559259b41453309301dc4</string>
</dict>
</plist>